server:
  port: 8080

spring:
  application:
    name: telegram-bot-dream-stream
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o
          temperature: 0.9
      proxy:
        host: ${OPENAI_PROXY_HOST:}
        port: ${OPENAI_PROXY_PORT:}
        username: ${OPENAI_PROXY_USERNAME:}
        password: ${OPENAI_PROXY_PASSWORD:}
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:mindbase}
    username: ${DB_USERNAME:dalek}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
